<div class="flex justify-center gap-4">
    <a href="https://www.cardmarket.com/en/Digimon" class="hover:scale-105 bg-pink-700 px-4 py-2 rounded-md font-bold text-white">
        <p class="text-xl">Comprar</p>
    </a>
</div>