<footer class="bg-pink-700 dark:bg-[#4B4376] bg-opacity-75 p-10 font-bold">
    <nav class="flex justify-center gap-4">
        <a href="/coleccion" class="text-[#C5D3E8] text-md hover:text-[#A6AEBF]">Colección</a>
        <a href="#" class="text-[#C5D3E8] text-md hover:text-[#A6AEBF]">Wikipedia</a>
        <a href="#" class="text-[#C5D3E8] text-md hover:text-[#A6AEBF]">Comunidad</a>
        <a href="#" class="text-[#C5D3E8] text-md hover:text-[#A6AEBF]">Contacto</a>
    </nav>
</footer>