<header class="bg-pink-700 dark:bg-[#4B4376] bg-opacity-75 shadow-md p-10 font-bold">
    <div class="flex justify-center gap-4">
        <h1 class="flex font-bold text-[#E78F81] text-3xl text-center dark:text-[#E8BCB9]">DIGIMON</h1>
    </div>
    <nav class="flex justify-center gap-4 pt-4">
        <a href="/" class="text-xl hover:text-white">Inicio</a>
        <a href="/coleccion" class="text-xl hover:text-white">Colección</a>
        <a href="https://digimon.fandom.com/es/wiki/Digimon_Wiki" target="_blank" class="text-xl hover:text-white">Wikipedia</a>
        <a href="#" class="text-xl hover:text-white">Comunidad</a>
        <a href="#" class="text-xl hover:text-white">Contacto</a>
    </nav>

</header>