<a href="" class="bg-gradient-to-r hover:bg-gradient-to-l from-teal-200 hover:from-teal-200 to-lime-200 hover:to-lime-200 mb-2 px-5 py-2.5 rounded-lg focus:ring-4 focus:ring-lime-200 dark:focus:ring-teal-700 text-center text-gray-900 focus:outline-none font-medium text-sm me-2">
    <slot name="before" />
    <slot />
    <slot name="after" />
</a>