---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import HeaderButton from '../components/HeaderButton.astro';

// AQUÍ VA EL JAVASCRIPT

---

<Layout title="Welcome to Astro.">
	<p>Esta es la página principal</p>
</Layout>
